*{
    font-family: 'Roboto', sans-serif;
}
#header .mappiya-logo img{
    width: 50px;
}
.mappiya-logo-text{
    font-size: 1.5rem;
    font-weight: 700;
    color: #FA462F;
}
.nav-link{
    font-size: 1.25rem;
    color: #000;
}
.nav-link:hover{
    color: #FA462F;
}
#header {
    background-image: url(./image/bg-hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#hero-section{
    height: 80vh;
}
#hero-section .hero-wrapper{
    margin-top: 70px;
    background-color: rgb(7, 7, 7, 0.5);
    padding: 5%;
    color: #FFF;
    border-radius: 5px;
}
#hero-section .hero-wrapper h1{
    font-size: 4.5rem;
    font-weight: 900;
}
#hero-section .hero-wrapper p{
    font-size: 1.25rem;
}
#hero-section .app-btn img{
    width: 150px;
    height: 50px;
}
#hero-section .app-btn img{
    width: 150px;
    height: 50px;
}
#hero-section .btn-reg{
    background-color: #FA462F;
    border: none;
    border-radius: 100px ;
    color: #fff;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
#hero-section .btn-reg:hover{
    background-color: #fff;
    color: #FA462F;
    
}
#hero-section .btn-reg2{
    background-color: rgb(45, 45, 240);
    border: none;
    border-radius: 100px ;
    color: #fff;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}
#hero-section .btn-reg2:hover{
    background-color: #fff;
    color: rgb(45, 45, 240);
}
/* Mobile Section */
#mobile-section{
    margin-top: 60px;
    margin-bottom: 60px;
}
#mobile-section .app-wrapper-img{
    margin-top: 60px;
}
#mobile-section .app-img{
    width: 100%;
    height: 700px;
    object-fit: contain;
}
#mobile-section .app-wrapper img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
#mobile-section .app-wrapper .app-span{
    color: #FA462F;
    font-size: 1.5rem;
}

/* Franchise section */ 
#franchise-section{
    background-image: url(./image/lanao-lake2.jpg);
    background-position: center 25%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
#franchise-section .franchise-wrapper{
    background-color: rgb(7, 7, 7, 0.5);
    color: #FFF;
    border-radius: 5px;
    margin: 70px 30px;
}
#franchise-section .franchise-image img{
    width: 100%;
    height: 500px;
    object-fit: contain;
    margin-top: 5%;
    margin-left: 5%;
}
#franchise-section .franchise-h1{
    font-size: 4rem;
    font-weight: 900;
    color: #fff;
}
#franchise-section .franchise-h2{
    font-size: 3rem;
    font-weight: 600;
    color: #fff;
}
#franchise-section .franchise-p{
    font-size: 1rem;
    color: #fff;
}
#franchise-section .app-btn img{
    width: 150px;
    height: 50px;
}

/* Reg form section */
#reg-form {
    margin-bottom: 30px;
}
#reg-form .reg-h2 {
    font-size: 3rem;
    font-weight: 600;
    color: black;
}
.mappiya-color{
    color: #FA462F;
}
#reg-form .reg-h2 .reg-p{
    font-size: 1.25rem;
    color: #333;
}
#reg-form .btn-reg{
    background-color: #fff;
    border: 1px solid #FA462F;
    border-radius: 100px ;
    color: #FA462F;
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}
#reg-form .btn-reg:hover{
    background-color: #FA462F;
    color: #fff;
    border: .5px solid #fff;
}
#reg-form .card{
    padding-bottom: 20px;
}
/* Promo section */
#promo{
    height: 60vh;
    background-image: url(./image/promo3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 90%;
}
#promo .promo-wrapper{
    margin-top: 12%;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    color: #FFF;
    padding: 20px 0px;
    border-radius: 5px;
}
#promo .promo-wrapper h1{
    font-size: 3rem;
}
#promo .promo-wrapper p{
    font-size: 1.5rem;
}
#promo .btn-reg{
    background-color: #fff;
    border: 1px solid #FA462F;
    border-radius: 100px ;
    color: #FA462F;
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}
#promo .btn-reg:hover{
    background-color: #FA462F;
    color: #fff;
    border: .5px solid #fff;
}

/* partner section */
#partners {
    background-color: rgba(238, 238, 238, 0.281);
}
#partners .partner-bg{
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(./image/maranao3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px;
}
#partners .partner-images img{
    width: 100%;
    height: 500px;
}
#partners .partner-logo img{
   width: 200px;
   height: 150px;
}
#partners .partner-bg2{
    padding: 40px;
    border: 5px solid #FA462F;
}
#partners .partner-bg2 h2{
    font-size: 3rem;
    font-weight: 600;
    color: #FA462F;
}

/* Gallery section */
#gallery{
    margin-top: 5%;
}
#gallery .item .card img{
    width: 100%;
    height: 450px;
}
#gallery .gallery-text{
    font-size: 4rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 30px;
    margin-top: 50px;
}


/* CSS */
#hero-section .button-87 {
  margin: 0;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#hero-section .button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

#hero-section .button-87:active {
  transform: scale(0.95);
}
#hero-section .hero-wrapper a{
    text-decoration: none;
}